hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.discoBox {
    font-weight: 400;
    margin-right: 40px;
    width: 20vw;
    height: max-content;
    overflow: hidden;
    text-overflow: ellipsis;
}

.discoInfo {
    padding-top: 7px;
    padding-bottom: 7px;
}

.discoTitle {
    margin-bottom: 5px;
    font-size: 17px;
}

.discoImg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.discoImg > img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.newsdiscoContent {
    display: flex;
    height: auto;
    flex-wrap: nowrap;
    width: 100%;
    padding-left: 350px;
    padding-top: 50px;
    padding-bottom: 350px;
}

.discoNavi {
    width: 100%;
}

.discoNaviAll {
    width: 100%;
    right: 0;
    position: static;
}

.discoNavi > ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    float: right;
    padding-right: 100px;
    padding-top: 50px;
}

.discoNavi > ul > li {
    margin-left: 20px;
    font-size: 25px;
    cursor: pointer;
    font-weight: 200;
    transition: all 0.3s ease;
}

#digital {
    display: block;
}

#album {
    display: block;
}

#cd {
    display: block;
}

.type {
    color: gray;
    margin-right: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.discoCate{
    display: flex;
    margin-right: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.discoDesc {
    display: flex;
    font-size: 12px;
}

.aboutDisco {
    width: 100%;
    display: flex;
}

.bigImg {
    width: 50%;
}

.bigImg > img {
    width: 100%;

}

.thisDisco{
    margin-left: 10px;
    width: 50%;
    padding: 3%;
}

.aboutTrack {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}

.thisDiscoTitle {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -1.5px;
}

.thisDiscoDate {
    font-weight: 400;
    color: rgb(167, 167, 167);
    font-size: 14px;
}

.discoCredit {
    font-weight: 400;
    font-size: 12px;
    color: rgb(167, 167, 167);
}


@media only screen and (max-width: 768px) {

    .newsFlex {
        width: 100%;
    }
    .newsdiscoContent {
        display: block;
        width: 100%;
        padding: 10vw;
        margin-top: 10vh;
    }

    .discoBox {
        width: 83%;
        font-weight: 400;
        margin-right: 0;
        margin-bottom: 7vh;
    }

    .discoNaviAll {
        display: none;
    }

    .discoImg > img {
        width: 100%;
        object-fit: cover;
        display: block;
    }

    .aboutDisco{
        display: block;
    }

    .bigImg {
        width: 83%;
    }

    .thisDisco{
        width: 80%;
        padding: 0;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

}