hr {
    border: 0px;
    height: 1px;
    background-color: lightgrey;
}

a {
    text-decoration: none;
    color: inherit;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

p {
    margin: 0;
}

button {
    border: 0;
    border-radius: 0;
    outline: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.uppertitle {
    top: 0;
    position: relative;
    width: auto;
    margin: 0 2em;
}

.MainSection {
    height: 40vw;
}

.maintitle {
    position: absolute;
    width: 100%;
    color: white;
    font-size: 50px;
    text-align: center;
    letter-spacing: -1px;
    font-weight: 700;
    top: 50%;
    filter: drop-shadow(0 0 0.7rem black);
    z-index: 0;
}

.NewMainTitle {
    position: absolute;
    color: white;
    letter-spacing: -2px;
    font-weight: 900;
    width: auto;
    font-size: 60px;
    top: 40%;
    filter: drop-shadow(0 0 2rem black);
}

.ContentsSection {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    margin-bottom: 160px;
    background-color: white;
}

.HNewsTap {
    margin: 0 1em;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    padding: 2.5em;
    color: white;
    filter: none;
    transition: all 0.3s ease;
}

.HNewsTap:hover {
    filter: drop-shadow(0 0 0.7rem rgb(0,0,0, .35));
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.peach {
    background: linear-gradient(160deg, rgb(255, 121, 48), rgb(252, 91, 83));
}

.sea {
    background: linear-gradient(160deg, rgb(48, 193, 255), rgb(83, 83, 252));
}

.HNewHome {
    width: 50em;
    height: 350px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 2.5em;
    background: url(../../img/contradict_background.png);
    background-position: center;
    background-size: cover;
}

.HomeTop {
    display: flex;
    justify-content: center;
    height: max-content;
    width: auto;
    margin: 30px 2em;
}

.HNewsTapContents {
    display: flex;
    justify-content: space-between;
}

.HNewsTap > div > p {
    width: max-content;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: -2px;
    clear:left;
}

.HNewsContentsInfo {
    display: flex;
    color: white;
}

.HNewsDate {
    font-size: 15px;
    margin-top: 10px;
    color: white;
    font-weight: 400;
}

.HNewsday {
    font-size: 11px;
    margin-top: 6px;
    color: white;
    font-weight: 400;
}

.HNewsMore {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.5px;
    position: relative;
    bottom: 0;
    width: auto;
    text-align: right;
}

.HNewsContents_Box {
    width: 100%;
}

.HNewsContents {
    width: 90%;
    padding: 50px 0;
    letter-spacing: -1px;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: block;
    clear:both;
    overflow: hidden;
    word-break: keep-all;
    height: 180px;
}

.New_icon {
    font-size: 9px;
    border-radius: 5px;
    background-color: red;
    width: max-content;
    padding: 2px 5px;
    color:white;
    margin-top: 5px;
    margin-right: 8px;
}

.New_icon_inpage {
    font-size: 9px;
    border-radius: 5px;
    background-color: red;
    width: max-content;
    padding: 2px 5px;
    color:white;
    margin-bottom: 5px;
}

.homecontentstitle{
    font-weight: 700;
    font-size: 35px;
    letter-spacing: -2px;
    margin: 20px 10px;
}

.flexcontent {
    display: flex;
}

.roundbox {
    width: 18vw;
    height: 100%;
    background-color: rgb(245, 245, 245);
    border-radius: 50px;
    overflow: hidden;
    padding: 10px;
    margin-right: 30px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.roundbox:hover {
    filter: drop-shadow(0 0 0.85rem lightgray);
}

.roundimg {
    border-radius: 45px;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
}

.roundimg > img{
    width: 100%;
    margin: 0;
    padding: 0;
}

.roundtitle {
    font-weight: 700;
    padding: 10px;
    font-size: 25px;
    letter-spacing: -2px;
}

.rounddesc {
    font-weight: 200;
    padding: 0px 10px;
}

.roundmodal {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 11;
    display: none;
    top:0; left: 0; bottom: 0; right: 0;
    transition: opacity 0.5s ease;
    opacity: 0%;
}

.roundmodalindex {
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    width: 80%;
    height: 80%;
    top: calc(50vh - 45vh);
    left: calc(50vw - 42vw);
    border-radius: 50px;
    padding: 30px;
    z-index: 12;
    overflow: scroll;
    filter: drop-shadow(0 0 0.85rem rgb(110, 110, 110));
}

.closeBtn {
    cursor: pointer;
    width: max-content;
}

.modalImg {
    width: 30vw;
    height: 30vw;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px;

}

.modalImg > img {
    width: 100%;
}

@media only screen and (max-width: 820px) {
    .HNewHome {
        width: auto;
    }
}


@media only screen and (max-width: 768px) {

    .homeBody {
        width: 100%;
    }

    .MainSection {
        height: 90vh;
    }

    .HNewHome {
        width: auto;
        margin: 2em;
    }

    .HNewsTap {
        width: auto;
        margin: 2em;
    }

    .NewMainTitle {
        font-size: 50px;
        width: 300px;
        text-align: center;
    }

    .HomeTop {
        display: block;
    }

    .NewsTapContents {
        display: flex;
        justify-content: space-between;
    }

    .NewsTap {
        width: 75%;
        margin: 14%;
    }

    .roundbox {
        width: 100%;
        margin-bottom: 5vh;
    }

    .flexcontent {
        display: block;
    }
}