.ContentsSection {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    margin-bottom: 160px;
    background-color: white;
}

.pfo_contents {
    display: flex;
    flex-direction: row;
    padding: 5vw;
    height: 100%;
}

.pfo_nav {
    width: 90px;
    word-break: keep-all;
    top: 0;
    height: max-content;
    left: 0;
    background-color: #fff;
}

.pfo_nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pfo_nav > ul > li {
    padding: 20px 0 0 20px;
    font-weight: 700;
    font-size: 17px;
    width: max-content;
}

.pfo_hr {
    width: 0%;
    background-color: tomato;
    height: 3px;
    text-align: left;
    margin-left: 0;
    transition: all 0.5s ease;
    margin-top: 3px;
}

.pfo_nav > ul > li:hover {
    cursor: pointer;
}

.pfo_nav > ul > li:hover .pfo_hr {
    width: 100%;
}

.pfo_info {
    padding: 20px 10% 20px 10%;
    width: 45%;
    display: inline-block;
    min-height: 500px;
}

.pfo_title {
    font-weight: 700;
    font-size: 50px;
    letter-spacing: -4px;
}

.pfo_desc {
    font-size: 20px;
}

.pfo_go {
    margin-top: 30px;
}

.pfo_btn {
    color: black;
    transition: all 0.2s ease;
}

.pfo_btn:hover {
    color: tomato;
}


.clicked {
    color: tomato;
    width: 100%;
}

@media only screen and (max-width: 768px) {

    .homeBody {
        width: 100%;
    }

    .pfo_contents {
        display: block;
        width: 100%;
        padding: 5vw;
    }

    .pfo_nav {
        width: 90%;
        top: none;
        left: none;
        background-color: #fff;
        text-align: center;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .pfo_nav > ul {
        display: flex;
        width: 95%;
        justify-content: space-between;
        margin: 0;
        align-items: center;
    }
    
    .pfo_nav > ul > li {
        padding: 20px;
        font-weight: 700;
        font-size: 20px;
        width: max-content;
    }

    .pfo_info {
        width: 80%;
        padding: 5vw;
    }
}